.chat-title {
  h1 {
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -18px;
      width: 100%;
      height: 15px;

      background: #fff7ae;

      border-radius: 50%;

    }
  }
}

.user-message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  strong {
    margin-bottom: 5px;
    font-size: 1.2rem;
    color: #000000;
  }

  .rounded-pill {
    max-width: 400px;
    background-color: rgba(220, 228, 115, 0.692);
    padding: 15px 25px 20px;
  }
}


.umami-message-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;

  .umami-avatar {
    width: 200px;
    height: 250px;
    object-fit: cover;
  }

  strong {
    font-size: 1.2rem;
    color: #990c52;
    margin-bottom: 6px;
  }
}

.assistant-bubble {
  background-color: #ca74245b;
  margin-bottom: 2rem;
}


.no-chats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.no-chats-image {
  width: 500px;
  height: 600px;
  object-fit: cover;
}

.no-chats-text {
  font-size: 2rem;
}
