// Specific CSS for your home-page
body {
  background-image: asset-url("background-final.png");
  background-size: 100%;
  background-position: center top;
  background-repeat: repeat;
  min-height: 100vh;
  background-attachment: scroll;
}

.purple-underline {
  width: 200px;
  height: 30px;
  border-image-slice: 35 20 118 27;
  border-image-width: 20px 20px 50px 20px;
  border-image-outset: 0px 25px 50px 15px;
  border-image-repeat: stretch stretch;
  border-image-source: asset_url("purple-border.png");
  font-family: $fancy-font;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(131, 78, 216);
  text-shadow: 1px 1px 6px rgb(234, 188, 255);
}


.recommended-your-recipes-hp {
width: 300px;
height: auto;
margin-left: 25rem;
margin-top: 3rem;
}
