.banner {
  mask-image: linear-gradient(to bottom, transparent, black 10% 80%, transparent);

  h1 {
    font-family: $bubbly-font !important;
    color: $bubblegum;
    text-shadow: 1px 1px 2px rgb(65, 1, 43);
  }
  h2 {
    color: rgb(46, 34, 54);
    text-shadow: 1px 1px 8px rgb(235, 193, 255);
    font-weight: 600;
  }

  .container {
    border-image-slice: 34% fill;
    border-image-width: 5rem;
    border-image-repeat: round;
    border-image-source: asset_url("star-border.png");
  }
}

.the-times {
  position: relative;
  color: rgb(46, 34, 54);
  text-shadow: 1px 1px 8px rgb(235, 193, 255);
  font-weight: 600;

  img {
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: 0px 50%;
    border-radius: 50px;
    mask-image: linear-gradient(to right, black, black 0% 30%, transparent);
  }
}

#prep-time {
  font-family: $playful-font;
  font-size: 2rem;
  font-weight: 700;
  color: $blueberry;
  text-shadow: 1px 1px 6px rgb(65, 1, 43);
}

#cooking-time {
  font-family: $playful-font;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(0, 255, 128);
  text-shadow: 1px 1px 8px rgb(65, 1, 43);
}

#ingredients-box {
  background-color: rgba(233, 203, 158, 0.5);
  color: rgb(46, 34, 54);
  text-shadow: 1px 1px 8px rgb(235, 193, 255);
  font-weight: 600;
  mask-image: linear-gradient(to right, black, black 0% 80%, transparent);
}

.recipe-instructions {
  background-color: rgba(233, 203, 158, 0.5);
  font-family: $body-font;
  color: rgb(46, 34, 54);
  text-shadow: 1px 1px 8px rgb(235, 193, 255);
  font-weight: 600;
  mask-image: linear-gradient(to left, black, black 0% 95%, transparent);
}

#recipe-navigations {
  color: rgb(46, 34, 54);
  text-shadow: 1px 1px 8px rgb(235, 193, 255);
  font-weight: 600;
}
