.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 450px;
  height: 300px;
  margin: 0.5rem;
  padding: 5px;
  text-align: center;
  border: 16px double rgb(226, 218, 101);
  border-radius: 20px;
  color: black;
  position: relative;

  h4 {
    color: rgb(218, 73, 169);
  }

  .background-blur {
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 20px;
      object-fit: cover;
      object-position: center;
      filter: blur(5px);
      opacity: 0.75;
    }
  }
}
