.chat-title {
  h1 {
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -18px;
      width: 100%;
      height: 15px;

      background: #fff7ae;

      border-radius: 50%;

    }
  }
}
