// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/user";
@import "pages/chat";

body {
  background-image: asset-url("background-wip.png");
  background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 100vh;
}
